<script src="../../models/car.ts"></script>
<app-header>
  <p levels>cars</p>
  <div content>
    <p>List of cars in service</p>
  </div>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
        <thead>
        <tr>
          <th>car</th>
          <th>plate</th>
          <th>delivery date</th>
          <th>deadline</th>
          <th>client</th>
          <th>cost</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars; let i = index" (click)="goToCarDetails(car)" class="row-car">
          <td [ngClass]="{'row-error row-': car.isFullyDamaged}">{{ car?.model }}</td>
          <td>{{ car?.plate }}</td>
          <td>{{ car?.deliveryDate }}</td>
          <td>{{ car?.deadline }}</td>
          <td>{{ car?.clientFirstName }} {{ car?.clientSurname }}</td>
          <td>{{ car?.cost }}</td>
          <td> ACTION PLACEHOLDER</td>
        </tr>
        </tbody>
      </table>

      <ng-template #noCarsInfo>
        <div class="no-cars-info">
          <p>Currently no cars in service</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button (click)="showGross()" class="btn btn-primary btn-sm float-right">
        SHOW GROSS
      </button>
    </div>
  </div>
  <app-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></app-total-cost>
  <div class="row" *ngIf="grossCost">
    <div class="col-sm-12">
      <div class="total-cost">
        <p class="text-right">TOTAL GROSS COST: {{ grossCost }} PLN</p>
      </div>
    </div>
  </div>
</div>

<p class="data-header">Add a new car</p>

<div class="data-container">
  <form [formGroup] = "carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="model">
        <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty " class="error">This field is required!!</p>
      </div>
      <div class="col-sm-4">
        <label>Type</label>
        <input formControlName="type" type="text" class="form-control" placeholder="type">
      </div>
      <div class="col-sm-4">
        <label>Plate</label>
        <input formControlName="plate" type="text" class="form-control" placeholder="plate">
        <p *ngIf="!carForm.get('plate').valid && carForm.get('plate').dirty " class="error">This field is required and
        must contain 3-7 characters</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Delivery date</label>
        <input formControlName="deliveryDate" type="text" class="form-control" placeholder="delivery date">
      </div>
      <div class="col-sm-4">
        <label>Deadline</label>
        <input formControlName="deadline" type="text" class="form-control" placeholder="deadline">
      </div>
      <div class="col-sm-4">
        <label>Color</label>
        <input formControlName="color" type="text" class="form-control" placeholder="color">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Power</label>
        <input formControlName="power" type="number" class="form-control" placeholder="power">
      </div>
      <div class="col-sm-4">
        <label>Cost</label>
        <input formControlName="cost" type="text" class="form-control" placeholder="cost">
      </div>
      <div class="col-sm-4">
        <label>Is fully damaged
        <input formControlName="isFullyDamaged" type="checkbox">
        </label>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Client first name</label>
        <input formControlName="clientFirstName" type="text" class="form-control" placeholder="first name">
      </div>
      <div class="col-sm-4">
        <label>Client surname</label>
        <input formControlName="clientSurname" type="text" class="form-control" placeholder="surname">
      </div>
      <div class="col-sm-4">
        <label>Year</label>
        <input formControlName="year" type="number" class="form-control" placeholder="year">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="carForm.invalid" type="submit" (click)="addCar()" class="btn btn-primary float-right">Add car</button>
        <button (click)="carForm.reset()" class="btn btn-default float-right">Reset form</button>
      </div>
    </div>
  </form>

  <pre> {{ carForm.value | json }} </pre>
  <pre> Stan walidacji inputa model: {{ carForm.get('model').valid | json }} </pre>
  <pre> Stan walidacji inputa plate: {{ carForm.get('plate').valid | json }} </pre>
</div>
