@import "../../../../assets/styles/variables";

.total-cost,
.no-cars-info {

  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: @blue;
  padding: 20px;
  background: @white;
}

.row-car {
  cursor: pointer;
}

